.not-found-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.not-found-wrapper h1 {
  font-size: 120px;
  color: #006838;
  margin: 0;
  letter-spacing: 15px;
}

.not-found-wrapper h3 {
  font-size: 45px;
  margin: 0;
}

.not-found-wrapper h4 {
  font-size: 30px;
  margin: 0;
}

.not-found-wrapper a {
  min-width: 180px;
  box-sizing: border-box;
}